In [12]:
%load_ext sql
#%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
#here I am connecting to sql with sqlmagic

'Connected: root@mysql'

In [4]:
germplasm_table = open("Germplasm.tsv", "r") #I am opening the germplasm.tsv file only for reading "r"
print(germplasm_table.read()) #printing the content of that table
locusgene_table = open("LocusGene.tsv", "r") #I am opening the LocusGene.tsv file only for reading "r"
print(locusgene_table.read()) #printing the content of that table

Locus	germplasm	phenotype	pubmed
AT1G01040	CS3828	Increased abundance of miRNA precursors.	17369351
AT1G01060	lhy-101	The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.	16891401
AT1G01140	SALK_058629	hypersensitive to low potassium media	17486125
AT1G01220	SALK_012400C	fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.	18199744
AT2G03720	SALK_042433	Multiple straight hairs	16367956
AT2G03800	gek1-1	Ethanol hypersensitivity.	15215505
AT2G04240	xerico	Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.	17933900
AT2G05210	pot1-1	No visible phenotype.	17627276
AT3G02130	rpk2-2	The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.	17419837
AT3G02140	afp4-1	Decreased germination on high concentrations of glucose and sorbitol.	18484180
AT3G02230	rgp1-1	rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.	21478444
AT3G02260	tir3-1 RGLG1:rglg1 rglg2	The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.	17586653
AT3G02310	sep2-1	Non-described subtle phenotype.	10821278
AT3G02680	atnbs1-1	Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.	17672843
AT3G02850	CS3816	The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.	17568770
AT3G02870	vtc4-1	ascorbate deficient	16595667
AT3G03260	hdg8-1	No visible phenotype.	16778018
AT4G14790	pdd17	Defective pollen development.	19237690
AT4G15210	bmy1-2	Plants cold-shocked for 6h have an increased starch content compared to wildtype.	16297066
AT4G15560	cla1-1	Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.	10982425
AT4G15570	maa3	Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.	18772186
AT4G15802	Athspb-2	Early flowering, reduced fertility, aborted seeds.	20388662
AT4G15880	esd4-2	Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.	17513499
AT4G16420	prz1-1	Altered response to auxin and cytokinin	12747832
AT4G16480	atint4-2	No visible phenotype.	16603666
AT5G10480	pas2-3	Segregates 25% embryo lethal.	18799749
AT5G10510	plt3-1	Short roots and shortened root meristem.	17960244
AT5G11110	kns2	Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.	18779216
AT5G11260	hy5-101	Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.	16891401
AT5G11510	myb3r4-1	No visible phenotype.	17287251
AT5G12200	pyd2-2	The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.	19413687
AT5G13290	crn-1	Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.	12345678

Locus	Gene	ProteinLength
AT1G01040	DCL1	332
AT1G01060	LHY	290
AT1G01140	CIPK9	223
AT1G01220	FKGP	190
AT2G03720	MRH6	189
AT2G03800	GEK1	196
AT2G04240	XERICO	256
AT2G05210	POT1A	221
AT3G02130	RPK2	284
AT3G02140	TMAC2	300
AT3G02230	RGP1	301
AT3G02260	BIG	279
AT3G02310	SEP2	175
AT3G02680	NBS1	190
AT3G02850	SKOR	234
AT3G02870	VTC4	311
AT3G03260	HDG8	194
AT4G14790	SUV3	312
AT4G15210	BAM5	313
AT4G15560	DXS	219
AT4G15570	MAA3	294
AT4G15802	HSBP	254
AT4G15880	ESD4	265
AT4G16420	ADA2B	279
AT4G16480	INT4	284
AT5G10480	PAS2	301
AT5G10510	AIL6	310
AT5G11110	SPS2	232
AT5G11260	HY5	221
AT5G11510	MYB3R-4	336
AT5G12200	PYD2	310
AT5G13290	CRN	189

In [13]:
#problem1

import re   #to do the re.search



germplasm_table.seek(0) #set the reading back to the beggining of the table 

#now I am iterating to obtain only the first column of the germplasm table 
for line in germplasm_table.readlines()[2:34]: #for each line read by readlines() in germplasm table. I specify that only want to read from lines 2 to 34 (because the first one is the header)
    matchObj = re.search( r'(\b[A-Z]{2}\w[A-Z]\w*\t)', line)  #match this regular expression, which corresponds to the search of ATxGxxxxxx AGI Locus Code
    if matchObj: #if there is a match
        AGI_germplasm = matchObj.group() #create an object with the matches 
        print(AGI_germplasm) #print the object 
    else: #otherwise
        print ("No match!!") #print no match 
 
 
locusgene_table.seek(0) #set the reading back to the beggining of the table 

#now I am iterating to obtain only the first column of the locusgene table 
for line in locusgene_table.readlines()[2:34]: #for each line read by readlines() in locusgene table. I specify that only want to read from lines 2 to 34 (because the first one is the header)
    matchObj = re.search( r'(\b[A-Z]{2}\w[A-Z]\w*\t)', line)  #match this regular expression, which corresponds to the search of ATxGxxxxxx AGI Locus Code
    if matchObj: #if there is a match
        AGI_locusgene = matchObj.group() #create an object with the matches 
        print(AGI_locusgene) #print the object 
    else: #otherwise
        print ("No match!!") #print no match 

    
AGI_germplasm == AGI_locusgene #are the matches of germplasm table (i.e. the AGI codes) equal to the matches of the locusgene table (i.e. the AGI codes)?

AT1G01060
AT1G01140
AT1G01220
AT2G03720
AT2G03800
AT2G04240
AT2G05210
AT3G02130
AT3G02140
AT3G02230
AT3G02260
AT3G02310
AT3G02680
AT3G02850
AT3G02870
AT3G03260
AT4G14790
AT4G15210
AT4G15560
AT4G15570
AT4G15802
AT4G15880
AT4G16420
AT4G16480
AT5G10480
AT5G10510
AT5G11110
AT5G11260
AT5G11510
AT5G12200
AT5G13290
AT1G01060
AT1G01140
AT1G01220
AT2G03720
AT2G03800
AT2G04240
AT2G05210
AT3G02130
AT3G02140
AT3G02230
AT3G02260
AT3G02310
AT3G02680
AT3G02850
AT3G02870
AT3G03260
AT4G14790
AT4G15210
AT4G15560
AT4G15570
AT4G15802
AT4G15880
AT4G16420
AT4G16480
AT5G10480
AT5G10510
AT5G11110
AT5G11260
AT5G11510
AT5G12200
AT5G13290

True

Problem1 (explanation)

I obtained the elements of the 2 objects printed: first columns of germaplasm and locusgene tables, which corresponds to the AGI codes.
Then I asked if the first column of the germplasm table (the AGI_germplasm object) was equal (==) to the first column of the locusgene table (the AGI_locusgene object). And the output was 'true', so the lines of data in Germplasm.tsv, and LocusGene.tsv are in the same sequence, based on the AGI Locus Code.

In [17]:
#problem2

#I am going to use sqlMagic
#%sql create database germplasms; #to create the database where I am going to store the 2 datasets 
%sql show databases;
#%sql use germplasms;

#create a table
#%sql CREATE TABLE germplasm (locus VARCHAR(6) NOT NULL PRIMARY KEY, germplasm VARCHAR(20) NOT NULL, phenotype VARCHAR(50) NOT NULL, pubmed INTEGER NOT NULL);
#%sql DESCRIBE germplasm;
#%sql CREATE TABLE locusgene (locus VARCHAR(6) NOT NULL PRIMARY KEY, gene VARCHAR(7) NOT NULL, protein_length INTEGER NOT NULL)
#%sql DESCRIBE locusgene



#Every germplasm has a gene record. This is a 1:1 relationship.
#So every locus at the germplasm table must point to the locus of the locusgene table
#We need to connect the germplasm table locus to the appropriate locus from the locusgene table. Joinning tables
#sql SELECT * FROM germplasm, locusgene WHERE germplasm.locus = locusgene.locus;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('information_schema',),
 ('germplasms',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

Problem 2 (explanation)

First of all, I created a database called germplasms. Then, I make sure that it's already created with the show databases command. Then, I use the command use germplasms to make sure that all of the following commands go to the germplasms database.

Once I have the germplasms database created, I create the 2 tables, each of them for each of the 2 files we are using. One table is called 'germplasm', which corresponds to the Germplasm.tsv file, and has 4 columns, which headers are locus, germplasm, phenotype and pubmed, respectively; and the other is called 'locusgene', whcih corresponds to LocusGene.tsv file, and has 3 columns, which headers are locus, gene and protein length, respectively. As the AGI locus code are the same both in germplasm table and locusgene table, I am going to use it as a primary key, intead of inserting an id for each column. 

Once the tables are created I must join them. How? I am joining them saying that the value in the locus column in germplasm table is the same as the value in the locus column in locusgene table. And that's how the two tables are linked in a 1:1 relationship.

In [44]:
#problem3

#first of all I am connecting to mySQL database through pymysql
import pymysql.cursors
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='germplasms',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor)

connection.autocommit = True



#pointing to the database and executing the sql commands 
try:
    with connection.cursor() as cursor:
            
            sql = "INSERT INTO germplasm (locus) VALUES ('AT1G01060', 'AT1G01140', 'AT1G01220', 'AT2G03720', 'AT2G03800', 'AT2G04240', 'AT2G05210', 'AT3G02130', 'AT3G02140', 'AT3G02230', 'AT3G02260', 'AT3G02310', 'AT3G02680', 'AT3G02850', 'AT3G02870', 'AT3G03260', 'AT4G14790', 'AT4G15210', 'AT4G15560', 'AT4G15570', 'AT4G15802', 'AT4G15880', 'AT4G16420','AT4G16480', 'AT5G10480', 'AT5G10510', 'AT5G11110', 'AT5G11260', 'AT5G11510', 'AT5G12200', 'AT5G13290')"

            cursor.execute(sql) 
            
    connection.commit()       
    
finally:
    print("")
    connection.close()

%sql select * from germplasm;
#%sql select * from locusgene;

InternalError: (1136, "Column count doesn't match value count at row 1")